<h1>Articoli Disponibili</h1>>
<table id="articoli" border="1">
    <caption>Alimentari</caption>
    <thead>
        <tr>
            <th scope="col">CodArt</th>
            <th scope="col">Descrizione</th>
            <th scope="col">Um</th>
            <th scope="col">Pezzi</th>
            <th scope="col">Peso (KG/LT)</th>
            <th scope="col">Prezzo</th>
            <th scope="col">Attivo</th>
            <th scope="col">Data</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articolo of articoli$">
            <td class="tbl-string">{{articolo.codArt}}</td>
            <td class="tbl-string">{{articolo.descrizione}}</td>
            <td class="tbl-string">{{articolo.um}}</td>
            <td class="tbl-string">{{articolo.pzCart}}</td>
            <td class="tbl-string">{{articolo.pesoNetto}}</td>
            <td class="tbl-string">{{articolo.prezzo | currency : 'EUR'}}</td>
            <td class="tbl-string infoBadge">
            <span [ngClass]="articolo.idStatoArt==='Attivo'? 'badge rounded-pill alert-success' : 'badge rounded-pill alert-danger'">
                {{articolo.idStatoArt}}
            </span>
            </td>
            <td class="tbl-string">{{articolo.dataCreazione | date : 'dd-MM-YYYY'}}</td>
        </tr>
    </tbody>
</table>